{% extends 'base.html' %}
{% load static %}
{% block title %}
Редактирование категории {{category.title}}
{% endblock %}

{% block content %}
{{ error }}
{{category.title}}
<form method="POST" enctype="multipart/form-data" action="{% url 'viewcategory' category.slug %}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

<p>
<form method="POST" action="{% url 'deletecategory' category.slug %}">
    {% csrf_token %}
<button type="submit"  class="btn btn-danger">Удалить</button>
</form>

{% endblock %}


